$base-color: #fff;

div.menu {
    $z-index: 99;
    z-index: $z-index;
    display: flex;
    align-items: center;
    background-color: $base-color;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0002,
                -5px -5px 5px #fff2;
    &-floating {
        @extend div.menu;
        position: fixed;
    }
    & ul {
        list-style: none;
        margin: 0;
        margin-block-start: 10px;
        margin-block-end: 10px;
        padding-inline-start: 0;
        padding-inline-end: 0;
        & li {
            cursor: pointer;
            overflow: hidden;
            max-width: 40vw;
            max-height: 2.8em;
            line-height: 1.2em;
            padding: .8em 2.4em .8em 1.6em;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
                background-color: #0002;
            }
        }
    }
}